name: restful-ptv-server
version: "{{ RESTFUL_PTV_SERVER_VERSION }}"
summary: RESTful PTV Server
description: RESTful PTV Server
grade: devel

apps:
  wildfly:
    command: bin/wrapper
    daemon: forking
    plugs:
      - network
      - network-control 
      - network-bind
      - network-observe
      - network-manager
      - mount-observe
      - camera
      - gsettings
      - home
      - mpris
      - opengl
      - optical-drive
      - pulseaudio
      - removable-media
      - screen-inhibit-control
      - unity7
      - x11
      - browser-support
      - bluetooth-control
      - bluez
      - content
      - cups-control
      - firewall-control
      - fuse-support
      - fwupd
      - hardware-observe
      - hidraw
      - kernel-module-control
      - libvirt
      - locale-control
      - location-control
      - location-observe
      - log-observe
      - lxd-support
      - modem-manager
      - ppp
      - process-control
      - serial-port
      - snapd-control
      - system-observe
      - system-trace
      - timeserver-control
      - tpm
      - udisks2
      - upower-observe
parts:
  wildfly:
    plugin: dump
    source: http://download.jboss.org/wildfly/10.1.0.Final/wildfly-10.1.0.Final.tar.gz
    stage-packages:
      - openjdk-8-jdk
      - mysql-server-5.7
  wildfly-modules:
    plugin: dump
    source: wildfly-modules      
    organize:
      com: modules/system/layers/base/com
  webapp:
    plugin: maven
    source: https://github.com/otavanopisto/restful-ptv-server.git
    source-type: git
  local-files:
    plugin: make
    source: .